<%= stylesheet_link_tag "credits" %>
<!--stylesheet imported-->
<%= render 'partials/navbar' %>
<!--partial for navbar-->

<h1 class="font-jost text-center fw-bold">Credit Calculation</h1>

<!--credits container div starts -->
<div id="credits_container" class="font-jost my-3 mb-5">
  <!-- Total sum display -->
  <div id="total_sum" class="mt-3 font-jost fw-bold">
      <div class="mb-2">Credit Score : <span class="badge text-bg-success" id="total_value">0</span> credits</div>
    <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar" id="progres_bar" style="width: 0%">0%</div>
    </div>
  </div>
  <!-- Questions section -->
  <div>
    <%= form_for :answers, url: credit_answers_path do |form| %>
      <% @section.each do |section| %>

        <div class="my-3" style="background-color:#cfe2ff; border-radius:8px; padding:1em">
          <h2><%= section.title %></h2>
          <div class="mb-1">
            <!-- Iterate over questions -->
            <%@count =0%>
            <% @questions.where(credit_section_id: section.id).each do |question| %>
            <% if question.isheader == true %>

            <p> <%= question.title %> </p>
            <div style="display:flex;">
              <% @questions.where(header_id: question.id).each do |sub_question|  %>
              <div style="display:flex;">
              <%= form.fields_for "answers[]", CreditAnswer.new(credit_question_id: sub_question.id) do |answer_fields| %>
                <%= answer_fields.hidden_field :credit_question_id,  class: "question_id" %>
                <%= answer_fields.hidden_field :credit_section_id, class: "section_id", value:section.id %>
                  <div class="my-3 mx-2">
                    <%= answer_fields.label :answer, sub_question.title, class: "form-label" %>
                    <div class='input-group mb-1'>
                      <%= answer_fields.number_field :answer, class: "form-control numeric-input" ,data: {questionId: sub_question.id,maxCredit: sub_question.max_credit,obtCredit: sub_question.obt_credit }%>
                      <span id="credit_value_<%= sub_question.id %>" class="input-group-text">0</span>
                    </div>
                  </div>
              <% end %>
                </div>
              <% end %>
            </div>

            <% elsif question.header_id == nil %>
            <%@count = @count +1%>
              <div class="mb-3">
                <%= form.fields_for "answers[]", CreditAnswer.new(credit_question_id: question.id) do |answer_fields| %>
                  <%if @count == 1%>
                    <%= answer_fields.file_field :file_upload, class: "form-control"%>
                  <%end%>
                    <div class="my-4">
                      <%= answer_fields.label :answer, question.title, class: "form-label" %>
                      <div class="input-group mb-3">
                        <%= answer_fields.number_field :answer, class: "form-control numeric-input" ,data: {questionId: question.id,maxCredit: question.max_credit,obtCredit: question.obt_credit } %>
                        <span class="input-group-text" id="credit_value_<%= question.id %>">0</span>
                      </div>
                    </div>

                  <%= answer_fields.hidden_field :credit_question_id, class: "question_id" %>
                  <%= answer_fields.hidden_field :credit_section_id, class: "section_id", value:section.id %>
                <% end %>
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= form.hidden_field :entry, value: @form.id %>

      <div class="alert alert-info" role="alert">
        <div id="error-message" style="color: red;"></div>
      </div>
      <div  style="display:flex; justify-content:flex-end"><%= form.submit "Create Answers", class: "btn btn-success ",  id: "submit-button", disabled: true  %></div>
    <% end %>
    <%=@entry%>
  </div>
  <!-- End of Questions section -->
</div>
<!-- End of credits container div -->
<script>
document.addEventListener('DOMContentLoaded', function() {
  const numericInputs = document.querySelectorAll('.numeric-input');
  const totalValue = document.getElementById('total_value');
  const submitButton = document.getElementById('submit-button');
  const errorMessage = document.getElementById('error-message');
  const progressBar = document.getElementById('progres_bar');

  numericInputs.forEach(input => {
    input.addEventListener('input', updateTotal);
  });

  function updateTotal() {
    let total = 0;
    let totalProgress = 0;

    numericInputs.forEach(input => {
      const value = parseFloat(input.value) || 0;
      const questionId = input.dataset.questionid || 0;
      const maxCredit = input.dataset.maxcredit || 0;
      const obtCredit = input.dataset.obtcredit || 0;

      const credit = Math.min(maxCredit, obtCredit * value);
      total += credit;

      const creditValueElement = document.getElementById(`credit_value_${questionId}`);
      creditValueElement.textContent = credit;

      totalProgress += (credit / <%= @form.credit_req %>) * 100;
    });

    totalValue.innerText = total;
    progressBar.style.width = Math.min(totalProgress.toFixed(2), 100) + "%";
    progressBar.textContent = Math.min(totalProgress.toFixed(2), 100) + "%";


      if (total < <%= @form.credit_req %> ) {
      const creditDifference = <%= @form.credit_req %> - total;
      submitButton.disabled = true;
      errorMessage.style.color = "red";
      errorMessage.textContent = `Your credit score is ${total}. You are ${creditDifference} credits away from the cutoff!`;
    } else {
      submitButton.disabled = false;
      errorMessage.style.color = "green";
      errorMessage.textContent = "Congratulations! You meet the credit requirements!";
    }
  }
});
</script>
