<%= stylesheet_link_tag "new_nav" %>
<%= stylesheet_link_tag "new_navResp" %>

<div class="background font_PT_sans">

    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded" aria-label="Thirteenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#hello_1"
                aria-controls="navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="home/index">
                <div class="logo-div"><%= image_tag "NITK_Emblem.png", id:'collapse_logo' %></div>
            </a>
            <div class="d-lg-flex col-lg-3 justify-content-lg-end" id="collapse_login">
                <button type="button" class="btn btn-outline-dark" id="updates">Updates</button>

            </div>
            <div class="collapse navbar-collapse d-lg-flex mt-1" id="hello_1">

                <a href='/'>
                    <div class="logo-div"><%= image_tag "NITK_Emblem.png", id:'non_collapse_logo' %></div>
                </a>
                <div class="navbar-nav col-lg-6 justify-content-lg-center" id="nav_grid_2">
                    <div class="nav-item">
                        <%= link_to 'Home', home_index_path(userid: @user.id), class:"nav-link" %>
                    </div>

                    <div class="nav-item">
                        <%= link_to 'My Applications', myresponse_response_path(id: @user.id), class:"nav-link" %>
                    </div>

                    <div class="nav-item">
                        <%= link_to 'Validate Credit', home_validate_path(id: @user.id), class:"nav-link" %>
                    </div>

                    <% if @user.adminrole == true %>
                    <div class="nav-item">
                        <%= link_to 'Admin Portal', forms_path(userid: @user.id), class:"nav-link" %>
                    </div>
                    <% end %>
                    <div class="nav-item">
                        <%= link_to 'Edit Profile', edit_user_registration_path, class:"nav-link" %>
                    </div>
                        <button class="btn btn-danger" id='log_out_mb'><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></button>
                    </div>
                <div class="d-lg-flex col-lg-3 justify-content-lg-end" id="non_collapse_login">
                    <button class="btn btn-danger"><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></button>
                </div>
            </div>
        </div>
    </nav>
