<%= form_with(model: option) do |form| %>
  <% if option.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(option.errors.count, "error") %> prohibited this option from being saved:</h2>

      <ul>
        <% option.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style="">
    <div class="mb-2;">
      <%= form.label :option, style: "display: block", class:'form-label small' %>
    </div>
    <div style="display:flex">
      <%= form.text_field :title, class:'form-control form-control-sm' %>
      <%= button_to "Delete", option, method: :delete, class: "btn btn-sm btn-danger mx-2", data: { confirm: "Are you sure?" } %>
      <%= form.submit class:"btn btn-sm btn-warning" %>
    </div>
  </div>

<% end %>