<table class="table">
  <thead>
    <tr>
      <th scope="col">Response Id</th>
      <th scope="col">User</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
  <% @response.each do |response| %>
    <tr>
      <%@user = User.where(id: response.user_id)%>
      <th scope="row"><%=response.id%></th>
      <td><%=@user[0].email%></td>
      <td><%=response.credit_score%></td>
      <td><%= link_to "Validate Credit Response", validate_response_path(id: response.id), class:'btn btn-primary' %></td>
      <td>

      <%= form_with(model: @response.find_or_initialize_by(id: response.id)) do |f| %>
              <%if response.validation == true%>
                <%="✔"%>
              <%elsif%>
                <%="X"%>
              <%end%>
              <%@new = response.validation ? false : true%>
              <%= f.hidden_field :validation, value: @new%>
              <%= f.submit %>
      <% end %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>